In [5]:

class NineCell():
 
    def __init__(self, nonant):
        self.nonant = nonant
        #print(f'I think therefore I am nonant {self.nonant}')
        # self._cells = []
        self.cells = []
        self._not_these = set()

    # @property
    # def cells(self):
    #     return self._cells
    
    # @cells.setter(self):

    @property
    def not_these(self):
        return self._not_these
    
    @not_these.setter
    def not_these(self, new):
        self._not_these.add(new)
        # if len(self.not_these) == 8:
        #     print('elimination by nonant')
        #     list(self.not_these).symmetric_difference([1,2,3,4,5,6,7,8,9])[0]

    def __repr__(self):
        return f"Nonant {self.nonant}"
    
a = NineCell(1)
a

Nonant 1

In [265]:


# create grid of 9x9 cells; truncated into 3x3 blocks
# 
# produce a valid sudoku setup
# 
# class should understand which cells are implied as being filled in     


class Cell:
    '''Parent class for subsequent elimination methods'''

    def __init__(self, position, grid):
        self._not_these = set()
        self.position = position
        self.grid = grid

        # position identifiers
        self.row = position[0]
        self.column = position[1]
        self._nonant = None
        self._value = None
        
    @property
    def not_these(self):
        return self._not_these
    
    @not_these.setter
    def not_these(self, new):
        self._not_these.add(new)
        
        if len(self.not_these) == 8:
            print('trigger fired')
            self.value = list(self.not_these.symmetric_difference([1,2,3,4,5,6,7,8,9]))[0]



    @property
    def value(self):
        return self._value
    
    @value.setter
    def value(self, new):
        self._value = new

        # this is inefficient
        for x in self.grid.cells:
            if x != self:
                if (self.row == x.row) or (self.column == x.column) or (self.nonant == x.nonant):
                    x.not_these = self.value
                    

    @property
    def nonant(self):
        return self._nonant
    
    @nonant.setter
    def nonant(self, new):
        if new is not None:
            new.cells.append(self)
            self._nonant = new


    def __repr__(self):
        try:
            return str(self.value)
        except:
            # return ""
            return str(self.position)
        


# class SingleCell(Cell):
#     '''A single cell will be altered by the recursive function.
    
#         using the position attribute to calculate vertical/horizontal eliminations;
#         and the nine_cell attribute to determine local elimination
        
#         inherits the .not_these property/setter from the parent class'''
    
#     def __init__(self, nine_cell):

#         self.position = position
#         self.nine_cell = nine_cell
#         self.value = None

#         # then, fill the cell
#         if len(self._not_these) == 8:
#             self.value = set(1,2,3,4,5,6,7,8,9).symmetric_difference(self._not_these)

#     def update_cell(self):
#         """'function to update the value of a cell.'"""
#         pass

In [266]:

import pandas as pd


class SudokuGrid:

    def __init__(self):

        # make the grid
        self.cells = []
        for x in range(1,10):
            for y in range(1,10):
                self.cells.append(Cell((x,y), self))
        # # nonants
            # make a quadrant
        self.nonants = [NineCell(x) for x in range(1,10)]

        for x in self.cells:
            if (x.row < 10) and (x.row > 6):
                if (x.column < 10) and (x.column > 6):
                    x.nonant = self.nonants[8]
                if (x.column < 7) and (x.column < 3):
                    x.nonant = self.nonants[7]
                if x.column < 4:
                    x.nonant = self.nonants[6]
            elif (x.row < 7) and (x.row < 3):
                if (x.column < 10) and (x.column > 6):
                    x.nonant = self.nonants[5]
                if (x.column < 7) and (x.column < 3):
                    x.nonant = self.nonants[4]
                if x.column < 4:
                    x.nonant = self.nonants[3]
            elif x.row < 4:
                if (x.column < 10) and (x.column > 6):
                    x.nonant = self.nonants[2]
                if (x.column < 7) and (x.column < 3):
                    x.nonant = self.nonants[1]
                if x.column < 4:
                    x.nonant = self.nonants[0]
    
    @property
    def show_grid(self):
        '''for easy visual inspection..'''
        return pd.DataFrame(np.array(self.cells).reshape(9,9), index=range(1,10), columns=range(1,10))

In [267]:
a = SudokuGrid()
# a.cells[0].value = 1
# a.cells[-1].value = 1

In [268]:
list(enumerate(a.cells))

[(0, None),
 (1, None),
 (2, None),
 (3, None),
 (4, None),
 (5, None),
 (6, None),
 (7, None),
 (8, None),
 (9, None),
 (10, None),
 (11, None),
 (12, None),
 (13, None),
 (14, None),
 (15, None),
 (16, None),
 (17, None),
 (18, None),
 (19, None),
 (20, None),
 (21, None),
 (22, None),
 (23, None),
 (24, None),
 (25, None),
 (26, None),
 (27, None),
 (28, None),
 (29, None),
 (30, None),
 (31, None),
 (32, None),
 (33, None),
 (34, None),
 (35, None),
 (36, None),
 (37, None),
 (38, None),
 (39, None),
 (40, None),
 (41, None),
 (42, None),
 (43, None),
 (44, None),
 (45, None),
 (46, None),
 (47, None),
 (48, None),
 (49, None),
 (50, None),
 (51, None),
 (52, None),
 (53, None),
 (54, None),
 (55, None),
 (56, None),
 (57, None),
 (58, None),
 (59, None),
 (60, None),
 (61, None),
 (62, None),
 (63, None),
 (64, None),
 (65, None),
 (66, None),
 (67, None),
 (68, None),
 (69, None),
 (70, None),
 (71, None),
 (72, None),
 (73, None),
 (74, None),
 (75, None),
 (76, None),
 (77, None),
 (78, None),
 (79, None),
 (80, None)]

In [269]:
a.cells[4].value=4
a.cells[5].value=9
a.cells[6].value=6
a.cells[9].value=3
a.cells[11].value=4
a.cells[14].value=6
a.cells[15].value=1
a.cells[17].value=9
a.cells[19].value=2
a.cells[23].value=1
a.cells[25].value=3
a.cells[26].value=4


a.cells[28].value=1
a.cells[29].value=2
a.cells[32].value=4
a.cells[36].value=4
a.cells[39].value=5
a.cells[44].value=6
a.cells[46].value=8
a.cells[49].value=2
a.cells[50].value=9

a.cells[56].value=1
a.cells[57].value=6
a.cells[61].value=2
a.cells[66].value=9
a.cells[71].value=8
a.cells[73].value=6
a.cells[78].value=3

:

:

In [264]:
a.show_grid

      1     2     3     4     5     6     7     8     9
1  None  None  None  None     4     9     6  None  None
2     3  None     4  None  None     6     1  None     9
3  None     2  None  None  None     1  None     3     4
4  None     1     2  None  None     4  None  None  None
5     4  None  None     5  None  None  None  None     6
6  None     8  None  None     2     9  None  None  None
7  None  None     1     6  None  None  None     2  None
8  None  None  None     9  None  None  None  None     8
9  None     6  None  None  None  None     3  None  None

In [257]:
for y in a.nonants[8].cells:
    print(y.not_these)

{1, 2, 3, 6, 8}
{8, 1, 3, 6}
{1, 2, 3, 4, 6, 8, 9}
{1, 2, 3, 6, 8, 9}
{8, 9, 2, 3}
{2, 3, 4, 6, 9}
{8, 1, 2, 6}
{8, 2, 3, 6}
{2, 3, 4, 6, 8, 9}

In [258]:
pd.DataFrame(np.array([x.value for x in a.cells]).reshape(9,9), index=range(1,10), columns=range(1,10))

      1     2     3     4     5     6     7     8     9
1  None  None  None  None     4     9     6  None  None
2     3  None     4  None  None     6     1  None     9
3  None     2  None  None  None     1  None     3     4
4  None     1     2  None  None     4  None  None  None
5     4  None  None     5  None  None  None  None     6
6  None     8  None  None     2     9  None  None  None
7  None  None     1     6  None  None  None     2  None
8  None  None  None     9  None  None  None  None     8
9  None     6  None  None  None  None     3  None  None